@font-face {
    font-family:Fighter_Attack;
    src: url('/fonts/Fighter\ Attack.ttf');
}

@font-face {
    font-family:ayushi;
    src: url('/fonts/GladoliaDEMO-Regular.otf');
}

@font-face {
    font-family:showboat;
    src: url('/fonts/Showboat.ttf');
}

@font-face {
    font-family: ;
    src: url();
}

@font-face {
    font-family: ;
    src: url();
}

@font-face {
    font-family: ;
    src: url();
}