body 
{
background-color: aqua;    
}    
div 
{
width: 40%;
height: auto;
margin: auto;
padding: 25px;
background-color: white;    
}

b 
{
color: blue;    
}
div:hover 
{
background: rgba(255,0,0,0.7);
color: white;    
}
